<!DOCTYPE html>
<html>
<head>
	<title>Badge Makers - Turn Customers into Brand Promoters</title>
	<style>
		body {
		  background-color: #C67D64;
		}
	</style>
</head>
<body>
	<h1>Badge Makers - Turn Customers into Brand Promoters</h1>
	<p>Upload your Images below to see the Magic</p>
    <form method="POST" action="/upload" enctype="multipart/form-data">
		<label for="images">Select Images:</label>
		<input type="file" name="images" id="images" multiple><br><br>
		<input type="submit" value="Train Model">
	</form>
</body>
</html>
